body {
  background-color: white;
  color: red;
  font-size: 20px;
}
h1 {
  color: white;
}

h2 {
  color: white;
}
.background {
  background-color: black;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}
