body {
  background-color: rgb(80, 100, 200);
}
.First_Blog {
  background-color: black;
  color: red;
  text-align: center;
  margin: auto;
  max-width: 55vw;
  width: auto;
  max-height: 80vh;
  height: auto;
}

.b1_picture {
  padding-top: 50px;
  width: 500px;
  height: 350px;
}

h1 {
  text-align: center;
  background-color: rgb(150, 150, 200);
  margin: auto;
  width: 325px;
}
.llama_text {
  background-color: rgb(255, 255, 255);
  margin: auto;
}
