body {
  background-image: url(Forest_Pattern_Repeating.jpg);
  font-family: "Stick No Bills", sans-serif;
}
.blog_background {
  background-size: cover;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 30px;
}

.picture {
  position: relative;
  margin-left: 12%;
  margin-right: 12%;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 75%;
  height: auto;
  top: -5px;
}

.title {
  text-align: center;
  background-color: rgb(150, 150, 200);
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 30px;
  position: relative;
  top: 10px;
}

.text {
  background-color: rgb(255, 255, 255);
  position: relative;
  margin-left: 6%;
  margin-right: 6%;
  padding: 1%;
  border-radius: 15px;
  top: -10px;
}
